// Global Styles
@import "@fortawesome/fontawesome-free/scss/fontawesome";

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: "Roboto", sans-serif;
    -moz-osx-font-smoothing: "Roboto", sans-serif;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

:root {
    --primary: #e62872;
    --heading-color: #282938;
    --bg-shade: #f5fcff;
    --github: #e62872;
    --darkblue: #1c1e53;
    --black: #000000;
    --white: #ffffff;
}

.btn {
    font-family: "Roboto";
    display: inline-block;
    padding: 14px 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

.btn-outline-primary {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);

    &:hover {
        color: var(--white);
        background-color: var(--primary);
    }
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);

    &:hover {
        color: var(--primary);
        background-color: var(--white);
    }
}

.btn-github {
    color: var(--white);
    background-color: var(--github);
    border: var(--github);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
    gap: 16px;
}
.btn-github:hover {
    color: var(--github);
    background-color: var(--white);
}

.btn-github i {
    font-size: 32px;
    fill: currentColor;
    margin-right: 16px;
}

.btn-github:hover i {
    color: var(--github);
    fill: var(--github);
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.text-lg {
    color: var(--darkblue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.text-md {
    color: var(--darkblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    // flex: 1;
    text-align: justify;
}

.text-sm {
    color: var(--black);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: justify;
}

.section--title {
    color: var(--heading-color);
    font-size: 21px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    align-items: flex-start;
}

.sub--title {
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

/* Navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 85.333px;
    background: var(--white);
    box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar--items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 42.667px;
    text-decoration: none;
}
.navbar--items ul > li > a {
    text-decoration: none;
}
/* Navbar Content */
.navbar--content {
    color: var(--darkblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}
.navbar--active-content {
    color: var(--primary);
}
.navbar--content i {
    font-size: 32px;
    color: #e62872;
}

/* Hero Section*/
.hero--section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 133.333px 85.333px 133.333px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: var(--bg-shade);
    align-items: end;
}
.hero--section--content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.hero--section--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.333px;
}
.hero--section--content--box > button {
    margin-top: 21.333px;
}
.hero--section--title {
    color: var(--heading-color);
    font-size: 74.667px;
    font-weight: 700;
    line-height: 90px;
    align-self: stretch;
}
.hero--section--title--color {
    color: var(--primary);
}
.hero--section-description {
    color: var(--darkblue);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
}
.hero--section--img {
    display: flex;
}
.hero--section--img > img {
    max-width: 100%;
    height: auto;
}

/* Skills Section */
.skills--section {
    display: flex;
    padding: 149.33px 85.33px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 106.667px;
    margin-top: 100px;
}
.skills--section--heading {
    color: var(--heading-color);
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}
.skills--section--container {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 42.6px;
    grid-template-columns: repeat(4, 1fr);
}
.skills--section--card {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    border-radius: 10.6px;
    background: var(--bg-shade);
    height: 330px;
}
.skills--section--card:hover {
    border-bottom: 4px solid var(--primary);
}
.skills--section--card:hover .skills--section--description {
    color: var(--darkblue);
}
.skills--section--img {
    display: flex;
    padding: 13.3px;
    justify-content: center;
    align-items: center;
    gap: 13.3px;
    border-radius: 10.6px;
    background: #fff;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}
.skills--section--card--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}
.skills--section--title {
    color: var(--heading-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
.skills--section--description {
    color: var(--black);
    font-size: 21.3px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.about--section {
    display: grid;
    padding: 133.3px 85.3px;
    align-items: center;
    gap: 114.6px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
}
.about--section--img > img {
    max-width: 100%;
    height: auto;
}

/* My Portfolio */
.portfolio--section {
    display: flex;
    padding: 80px 85px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    margin-top: 100px;
}
.portfolio--container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.portfolio--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.3px;
}
.portfolio--section--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 22px;
}
.portfolio--section--img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.portfolio--section--card {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(25% - 21.3px);
    // max-width: calc(50% - 21.3px); /* Limit card width */
    background: #fff;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition:
        transform 0.3s,
        box-shadow 0.3s;
}

.portfolio--section--card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.2);
}
.portfolio-description,
.portfolio-description1 {
    padding: 10px;
}
.portfolio-description {
    height: 190px;
}
.portfolio--section--card--content {
    display: flex;
    padding: 21px;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
    align-self: auto;
}
.portfolio--section--title {
    margin-bottom: 15px;
    color: var(--heading-color);
    // flex: 0 0 auto;
}
.portfolio--link {
    // align-self: flex-start;
    text-decoration: none;
    display: flex;
    gap: 16px;
    border-bottom: 1.33px solid var(--primary);
    padding-bottom: 12px;
    font-weight: 600;
}
.portfolio--section--card:hover path {
    stroke: #006b6a;
}
// resume page styling
.resume--section {
    display: flex;
    padding: 50px 85px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 30px;
}
.resume--section button {
    margin-top: 50px;
}
/* Nu ascunde textul PDF-ului */
// .react-pdf__Page__textContent,
// .react-pdf__Page__annotations {
//     display: block !important;
// }

// .react-pdf__Page__textContent {
//     display: none;
// }
// .react-pdf__Page__annotations {
//     display: none;
// }
// styling contact section
.contact--section {
    display: flex;
    padding: 150px 85px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-shade);
    text-align: center;
    gap: 64px;
    margin-top: 100px;
}
.contact--form--container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    width: 40%;
    row-gap: 32px;
}
.contactContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 32px;
    row-gap: 32px;
}
.contact--label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10.6px;
    flex: 1 0 0;
    width: 100%;
}
.contact--input {
    display: flex;
    font-family: "Roboto";
    padding: 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1.333px solid var(--primary);
    background: var(--white);
}

.checkbox--label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10.6px;
    flex: 1 0 0;
    justify-content: flex-start;
}
input[type="checkbox"] {
    width: 21px;
    height: 21px;
    border: 0.15em solid var(--heading-color);
    border-radius: 0.15em;
    transform: translatey(-0.075em);
}
.message-feedback {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.message-feedback.success {
    color: #3c763d;
}

.message-feedback.error {
    color: #a94442;
}

/* Footer*/
.footer--container {
    display: flex;
    padding: 60px 80px;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    align-self: stretch;
}
.footer--link--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.footer--items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 42.667px;
    text-decoration: none;
}
.footer--items ul > li > a {
    text-decoration: none;
}
.footer--social--icon > ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    text-decoration: none;
}
.divider {
    height: 1.333px;
    width: 100%;
    background: rgba(40, 41, 56, 0.55);
}
.footer--content--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.footer--content {
    color: var(--black);
    font-size: 18.667px;
    font-weight: 400;
    line-height: 28px;
}

/* Responsive Screens */
@media only screen and (max-width: 1800px) {
    .hero--section--title {
        font-size: 68px;
        line-height: 70px;
    }
    .skills--section--title {
        font-size: 28px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 1600px) {
    .skills--section--heading {
        font-size: 54px;
        line-height: 70px;
    }
    .skills--section--container {
        gap: 16px;
    }
    .skills--section--card {
        gap: 28px;
    }
    .skills--section--card--content {
        gap: 20px;
    }
    .skills--section--title {
        font-size: 23px;
        line-height: 30px;
    }
    .skills--section--description {
        font-size: 17.333px;
        line-height: 27px;
    }
}

@media only screen and (max-width: 1200px) {
    .btn-outline-primary {
        display: none;
    }
    .hero--section {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 70px;
    }
    .hero--section--title,
    .hero--section-description,
    .footer--content {
        text-align: justify;
    }
    .skills--section--container,
    .about--section,
    .portfolio--section--container,
    .portfolio--container-box,
    .footer--link--container,
    .footer--items > ul,
    .footer--content--container {
        display: flex;
        flex-direction: column;
    }
    .skills--section,
    .portfolio--container,
    .hero--section--content,
    .hero--section--content--box {
        align-items: center;
    }
    .portfolio--container-box {
        gap: 30px;
    }
    .skills--section,
    .contact--section,
    .footer--container {
        gap: 20px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .about--section {
        gap: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero--section--title,
    .skills--section--heading,
    .sections--heading {
        font-size: 35px;
        line-height: 40px;
    }
    .hero--section--content--box {
        gap: 10px;
    }
    .contact--form--container {
        width: 100%;
    }
    .contactContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer--social--icon > ul,
    .footer--items > ul {
        padding: 0;
        align-items: center;
    }
    .divider {
        margin: 20px;
    }
    .portfolio-description {
        overflow: scroll;
    }
}

/* Hamburger menu  */

.nav__hamburger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    right: 25px;
}

.nav__hamburger__line {
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color: #000000;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {
    .nav__hamburger {
        display: flex;
        z-index: 200;
    }
    .navbar--items {
        display: flex;
    }
    .navbar--items {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255);
        top: -20rem;
        left: 0;
        width: 100%;
        transition: all ease-in-out 0.4s;
    }
    .navbar--items ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 3rem 0 0.6rem;
        z-index: -100;
    }
    .navbar--items ul li {
        text-align: center;
    }
    .navbar--items ul li a {
        padding: 0.5rem;
    }
    .navbar--items {
        z-index: -1000;
    }
    .navbar--items.active {
        top: 40px;
    }
    .nav__hamburger.active :nth-child(1) {
        transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }

    .nav__hamburger.active :nth-child(2) {
        opacity: 0;
    }

    .nav__hamburger.active :nth-child(3) {
        transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }
}
@media (max-width: 768px) {
    .portfolio--section--card {
        flex-direction: column;
    }
}
